bin
obj
temp
docs/output
*.suo
nuget/*.nupkg
*.user
__setup__*__.fsx
TestResults.xml
packages
TestResult.xml
*.VisualState.xml
*.userprefs
log.csv
log.txt
paket-files
*.ide
*.bak
.vs
bower_components
node_modules
.fake
deploy/*
*/**/AssemblyInfo.fs
global.json
.paket/Paket.Restore.targets
results.trx
/paket-files/paket.restore.cached
/.ionide/
