version 5.216.0

group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core
    nuget Fake.DotNet.Cli
    nuget Fake.Core.Target
    nuget Fake.IO.FileSystem
    nuget Fake.DotNet.Testing.NUnit
    nuget Fake.Core.ReleaseNotes

group CosmoStore
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core = 4.3.1
    nuget System.Reactive !~> 4 lowest_matching: true

group CosmosDb
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core = 4.3.1
    nuget TaskBuilder.fs !~> 2 lowest_matching: true
    nuget Microsoft.Azure.Cosmos !~> 3 lowest_matching: true
    nuget Newtonsoft.Json !~> 11 lowest_matching: true

group TableStorage
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core = 4.3.1
    nuget TaskBuilder.fs !~> 2 lowest_matching: true
    nuget WindowsAzure.Storage !~> 9 lowest_matching: true

group Marten
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget TaskBuilder.fs
    nuget FSharp.Core >= 4.3.4 < 4.5.4
    nuget Marten.FSharp
    github baronfel/Newtonsoft.Json.FSharp.Idiomatic src/Newtonsoft.Json.FSharp.Idiomatic/Newtonsoft.Json.FSharp.Idiomatic.fs 
    
group InMemory
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core = 4.3.1
    nuget TaskBuilder.fs
    nuget Newtonsoft.Json !~> 11 lowest_matching: true

group Tests
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget Expecto
    nuget Expecto.VisualStudio.TestAdapter
    nuget FSharp.Control.Reactive
    nuget Newtonsoft.Json !~> 11 lowest_matching: true
    
group TestsV2
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget CosmoStore.CosmosDb = 2.1.0