source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget TaskBuilder.fs
nuget Newtonsoft.Json
nuget Microsoft.Azure.DocumentDB.Core

group Build
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.Core.Target
    nuget Fake.IO.FileSystem
    nuget Fake.DotNet.Testing.NUnit