source https://api.nuget.org/v3/index.json

nuget FSharp.Core = 4.3.1
nuget TaskBuilder.fs
nuget Newtonsoft.Json
nuget Microsoft.Azure.DocumentDB.Core

nuget NUnit
nuget NUnit3TestAdapter
nuget Microsoft.NET.Test.Sdk

group Build
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.Core.Target
    nuget Fake.IO.FileSystem
    nuget Fake.DotNet.Testing.NUnit
    nuget Fake.Core.ReleaseNotes
